<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="profile scroll-content">
  <ion-grid>
    <ion-row>
      <ion-col col-5>
        <ion-list>
          <ion-item style="font-size: 1.5em">
            <strong>Highscore</strong>
          </ion-item>
          <ion-item *ngFor="let user of topTen">
            <div style="display: inline-block; width: 45%" *ngIf="user.userName.length > 0 && user.score >= 0">
                {{user.userName}}: 
            </div>
            <div style="display: inline-block; width: 45%; text-align: right;"  *ngIf="user.userName.length > 0 && user.score >= 0">
                {{user.score}}
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
